.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px;
  padding: 20px;
  width: 96%;
  justify-content: center;
}

.new-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 20px;
  padding: 20px;
  width: 96%;
  justify-content: center;
}

.half-sized {
  grid-column: span 1;
}

.normal-sized {
  grid-column: span 3;
}

.box {
  width: 100%;
  height: 100%;
  border-radius: 1.5vw;
  position: relative;
  clip-path: xywh(0% 0% 100% 100% round 1.5vw);
}

.inset-border {
  border-style: inset;
  border: 0.1vw solid black;
}

.blurred {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.5vw;
  filter: blur(100px);
}

.sblurred {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.5vw;
  filter: blur(10px);
}

.glass {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  min-height: 10px;
  max-height: 600px;
  width: 80%;
  overflow: auto;
  clip-path: xywh(0% 0% 100% 100% round 20px);
  padding: 30px;
}

.spacer {
  margin: 10% 0 0 0;
}

.small-pad {
  margin: 5%;
  height: 20vh;
  width: auto;
}

.lp10 {
  padding-left: 10px;
}

.jright {
  transform: translateX(90%);
}

.inline {
  width: fit-content;
  display: inline-flex;
  flex: 1;
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
  z-index: 10;
}

.cb-style {
  color: white;
  text-decoration: none;
}

h3 {
  position: relative;
  color: white;
  font-size: 2.3vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.double_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  width: 96%;
  justify-content: center;
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: -6;
}

.focus {
  z-index: 500;
}

.no-decor {
  text-decoration: none;
}

.uc1 {
  background-color: var(--user-color-1);
}

.uc2 {
  background-color: var(--user-color-2);
}

.uc3 {
  background-color: var(--user-color-3);
}

.move-left {
  transform: translateX(-10%);
}

.center {
  flex: 1;
  align-self: center;
  position: relative;
  z-index: 0;
}
