:root {
  --user-color-1: #650000;
  --user-color-2: #d3ae41;
  --user-color-3: red;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px;
  padding: 20px;
  width: 96%;
  justify-content: center;
}

.new-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 20px;
  padding: 20px;
  width: 96%;
  justify-content: center;
}

.half-sized {
  grid-column: span 1;
}

.normal-sized {
  grid-column: span 3;
}

.box {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  clip-path: xywh(0% 0% 100% 100% round 20px);
}

.inset-border {
  border-style: inset;
  border: 1px solid black;
}

.blurred {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  filter: blur(100px);
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: -6;
}

.uc1 {
  background-color: var(--user-color-1);
}

.uc2 {
  background-color: var(--user-color-2);
}

.uc3 {
  background-color: var(--user-color-3);
}

.focus {
  z-index: 50;
}
