/* Header Styling */
.header-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-background {
  position: fixed;
  width: 100%;
  height: 250px;
  background-color: white;
}

.header-logo {
  position: fixed;
  top: 10px;
  left: 10px;
}

.header-title {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.header-title a {
  text-decoration: none;
  color: #000000;
}

.account-box {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  text-align: center;
}

/* Remove scroll bar */
.noscroll {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Navigation Bar Styling */
.navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  padding: 4px 0;
  margin-top: 80px;
  position: fixed;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  width: 50%;
  margin-left: 25%;
  box-sizing: border-box;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar::after {
  content: "";
  clear: both;
  display: table;
}

.navbar-box {
  float: left;
  width: 19.58%; /* provides enough background space for even borders */
  text-align: center;
  padding: 10px 0;
  margin-left: 0.27%; /* retain borders on resize - use relative measurement */
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.navbar-box a {
  text-decoration: none;
  color: #444;
}

/* Page Content Styling */
.main {
  margin-top: 140px;
}

.large-font {
  font-size: 50pt;
}

.centered {
  text-align: center;
}

.medium-font {
  font-size: 40pt;
  line-height: 0.8;
}

.bounding-box {
  float: left;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 15px;
  margin: 0 auto;
}

.middle {
  width: 45%;
  margin-left: 105px; /* Hack to prevent premature resizing */
  margin-right: 15px;
}

.side {
  width: 23.2%; /* Hack to maximize side panel size */
  margin-right: -90px; /* Hack to prevent premature resizing */
  padding: 15px;
}

.pie-chart {
  width: 95%;
  padding-bottom: 95%;
  background: conic-gradient(
    #3498db 0% 15%,
    #2ecc71 15% 45%,
    #e74c3c 45% 55%,
    #f39c12 55% 100%
  );
  border-radius: 50%;
}

/* Button Styling */
.button-container {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  background-color: #466ab6;
  color: white;
  border-radius: 4px;
  border: 3px solid black;
  font-size: 30pt;
  margin: 0 5px;
}

button:hover {
  background-color: #792929;
}

h2 {
  line-height: 0.8;
}

h3 {
  font-size: 25pt;
  font-weight: bold;
  text-decoration: underline;
}

body {
  word-wrap: break-word; /* Hack to move words downwards on resize */
}
