:root {
  /* Global color palette */
  --Dark_Brown: #3f2f1e;
  --Brown: #724e2d;
  --Light_Brown: #9e846c;
  --Dark_Background_Green: #131a0c;
  --Background_Green: #5a8279;
  --Dark_Green: #0b3530;
  --Green: #1e5446;
  --Light_Green: #4d836a;
  --Beige: #b0a398;
  --Cream: #dfe4d3;
  /* Add more colors as needed */
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--Dark_Background_Green); /* Dark Green Background */
  color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--Light_Green); /* Slightly Lighter Green */
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: var(--Cream); /* Creamy White */
  text-decoration: none;
}

section {
  padding: 20px;
  border-bottom: 2px solid var(--Brown); /* Brown */
}

.project {
  background-color: var(--Brown); /* Brown */
  padding: 10px;
  margin-bottom: 10px;
}

footer {
  background-color: var(--Light_Green); /* Slightly Lighter Green */
  color: var(--Cream); /* Creamy White */
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
