/* Add some basic styling */
:root {
  --mycolor: #750000; /* You can set this to any color you want */
  --background-color: #e6e6e6; /* Default light gray */
  --text-color: #ffffff;
  --section-color: #111111;
  --head-foot-color: #cccccc;
}

.my-color {
  color: var(--mycolor);
}

/* Apply smooth scrolling globally */
html {
  scroll-behavior: smooth;
}

.underline {
  text-decoration: underline;
}

/* Keyframes for the pulsing effect on underlined text */
@keyframes underlinePulse {
  0% {
    color: var(--text-color);
  }
  50% {
    color: var(--mycolor); /* theme pulse */
  }
  100% {
    color: var(--text-color);
  }
}

.underline:hover {
  animation: underlinePulse 0.8s infinite;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500; /* Medium */
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  transition: background-color 0.3s; /* Smooth transition for color change */
}

.noscroll {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.title {
  color: var(--text-color);
}

header {
  height: auto;
  border-radius: 1vw;
  background: var(--head-foot-color);
  color: var(--text-color);
  text-align: center;
  padding-bottom: 2vh;
}

header h1 {
  margin: 0;
  color: var(--text-color);
  padding: 1vw;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -2vh;
}


header nav ul li {
  display: inline-block;
  margin: 0 0.2vw;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p {
  font-size: 3vh;
  color: var(--text-color);
  transition: color 0.3s;
}

section {
  padding: 0 1.2vh;
  margin: 1.2vh 1.2vh;
  text-align: center;
}

h1 {
  font-size: min(7vh, 5vw);
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s;
}

h2 {
  font-size: 5vh;
  color: var(--text-color);
  transition: color 0.3s;
  margin: 1vh
}

h3 {
  font-size: 4vh;
  color: var(--text-color);
  transition: color 0.3s;
  margin: 1vh;
}

ul {
  font-size: 5vh;
  color: var(--text-color);
  transition: color 0.3s;
}

footer {
  border-radius: 1vw;
  background: var(--head-foot-color);
  color: var(--text-color);
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
}

.project {
  border-radius: 3vw;
  background: var(--section-color);
  padding: 1rem;
  margin-bottom: 1rem;
}

.project img {
  max-width: 100%;
}

.profile-pic {
  border-radius: 50%; /* This will make it round, assuming the image is a square */
  border: 0.4vh solid var(--mycolor); /* Border color */
  display: block;
  margin: 0 auto; /* Center the image in its container */
  position: relative; /* Required for pseudo-elements */
  overflow: hidden; /* Required for pseudo-elements */
  transition: border 0.3s ease; /* Smooth transition for border color change */
  height: 27vh;
}

/* Keyframes for the pulsing effect on border */
@keyframes borderAnimation {
  0% {
    border-color: var(--mycolor);
  }
  50% {
    border-color: var(--text-color); /* White pulse */
  }
  100% {
    border-color: var(--mycolor);
  }
}

/* Apply the pulse effect on hover */
.profile-pic:hover {
  animation: borderAnimation 0.8s infinite;
}

/* Button Styling */
.button {
  padding: 1.2vh 2.5vh;
  font-size: 3.5vh;
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 18vh;
  color: white; /* Default text color */
  background-image: radial-gradient(circle, #000000 20%, var(--mycolor) 100%);
  transition: background-image 0.3s, color 0.3s;
  border-radius: 0.5vw; /* Rounded corners */
  position: relative; /* Required for pseudo-elements */
  overflow: hidden; /* Required for pseudo-elements */
}

/* Pseudo-element for the animated pulse effect */
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, #444444 20%, var(--mycolor) 100%);
  opacity: 0;
  border-radius: 0.5vw; /* Rounded corners */
  transition: opacity 0.3s;
  z-index: 0;
}

/* Text inside the button to ensure it's above the pseudo-element */
.button span {
  position: relative;
  z-index: 1;
}

/* Keyframes for the pulsing effect */
@keyframes pulseAnimation {
  0% {
    transform: scale(1);
    opacity: 0.3; /* Less visible start */
  }
  50% {
    transform: scale(1); /* More significant scaling */
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0.3; /* Back to less visible */
  }
}

.button:hover::after {
  opacity: 1; /* Show the pseudo-element */
  animation: pulseAnimation 0.8s infinite; /* animation */
}

.clickable-image {
  height: 25vh;
  cursor: pointer;
  transition: 0.3s;
}

.clickable-image:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 90vw;
  max-height: 80vh;
  width: 90vw;
  height: auto;
  object-fit: contain;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 1.2vh 0;
  height: 18vh;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.5s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 1.8vh;
  right: 4.2vh;
  color: #f1f1f1;
  font-size: 4.8vh;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive Columns - Stacked on Small Screens */
@media only screen and (max-width: 84vw) {
  .modal-content {
    width: 100%;
  }
}

#contact a {
  display: inline-block; /* Makes the anchor tag fit the image's size */
}
